<div class="row">
  <h2 class="col-sm-4">Teachers</h2>
  <div class="offset-sm-4 col-sm-4">
    <button class="btn btn-primary mr-0 ml-auto" (click)="onAdd()">Add New Teacher</button>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers">
            <td>{{ teacher.firstName}}</td>
            <td>{{ teacher.lastName}}</td>
            <td>
              <button class="btn btn-success">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #manageTeacher>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Manage Teacher</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form #categoryForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="row col-12 form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" name="firstName" />
      </div>
      <div class="row col-12 form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" name="lastName" />
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-danger" type="reset" (click)="onClose()">Close</button>
    </div>
  </form>
</ng-template>
